{% trans_default_domain 'app' %}
{% if contributor is not defined and item is defined %}{% set contributor = item %}{% endif %}
{% if url is not defined %}
    {% set url = path('app_page_action_id_key', {'locale': app.session.get('locale'), 'slug': app.session.get('directory_page_slug'), 'action':'view', 'id':contributor.id, 'key': contributor.email|slugger}) %}
{% endif %}

<article class="item contributor">
    <a href="{{ url }}">
        <div class="item_content">
            
            <div class="item_thumbnail{% if contributor._thumbnail == '' %} silhouette{% endif %}">
                <div class="wrapper">
                    {% if contributor._thumbnail %}<img src="/uploads/{{ contributor._thumbnail }}" />{% endif %}
                </div>
            </div>
            
            <div class="item_details">
                <header class="item_header">
                    <h2 class="item_name">{{ contributor.firstname|raw }} {{ contributor.lastname|raw }}</h2>
                    {% include 'app/tpl/directory/infos.html.twig' %}
                    {% include 'app/tpl/directory/buttons.html.twig' %}
                </header>
                
                <div class="item_description">
                    {{ contributor.shortDescription|length > 140 ? (contributor.shortDescription|striptags|slice(0, 140) ~ '...')|raw  : contributor.shortDescription|raw  }}
                </div>
            </div>
            
        </div>
    </a>
</article>