{% extends "app/tpl/layout.html.twig" %}
{% trans_default_domain 'app' %}
    
{% block body %}

<section id="contributor" class="view contributor">
    
    <header class="page_header">
        <a href="{{ path('app_page', {'slug': page.slug, 'locale':app.session.get('locale') }) }}"><h1 class="page_title">{{ page.name|raw }}</h1></a>
    </header>

    <main>
        <header>
            <div class="infos">
                <h2 class="title">{{ contributor.firstname|raw }} {{ contributor.lastname|raw }}</h2>
                
                <div class="details">
                    <span class="function">
                        {% if contributor.function %}<span class="function">{{ contributor.function|raw }}</span>{% endif %}
                        {% if contributor.organization and contributor.organization.id != 121 %}<span class="organization"> chez {{ contributor.organization.name }}</span>{% endif %}
                        {% if contributor.organization and contributor.organization.id == 121 %}<span class="organization"> chez {{ contributor.organizationAlt }}</span>{% endif %}
                    </span>
                    {% if contributor.contributorType %}<span class="type">{{ contributor.contributorType.name }}</span>{% endif %}
                </div>
            </div>
            
            {% if contributor.parentContributor and is_recommended == null %}
            <div class="recommend">
                <a href="{{ path('app_page_action', {'slug': app.session.get('directory_page_slug'), 'locale':app.session.get('locale'), 'action': 'recommend' }) }}?id={{ contributor.id }}" class="button">Recommander</a>
            </div>
            {% endif %}
        </header>

        <div class="wrapper">
            <div class="content">
                <div class="body">
                    {% if contributor.shortDescription %}
                    <div class="block short_description">
                        <h3>En une phrase</h3>
                        <div class="text">{{ contributor.shortDescription }}</div>
                    </div>
                    {% endif %}
                    
                    {% if contributor.description %}
                    <div class="block description">
                        <h3>Description</h3>
                        <div class="text">{{ contributor.description }}</div>
                    </div>
                    {% endif %}

                    {% if contributor.isContactable %}
                    <div class="block contact">
                        <h3>Peut être contacté</h3>
                        {% for contact in contributor.isContactable %}
                        {% if contact == 'email' %}
                        <div class="email">Par email : <a href="mailto:{{ contributor.email }}">{{ contributor.email }}</a></div>
                        {% endif %}

                        {% if contact == 'phone' %}
                        <div class="phone">Par téléphone : <a href="tel:{{ contributor.phone }}">{{ contributor.phone }}</a></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if contributor.skills %}
                    <div class="block skills">
                        <h3>Compétences</h3>
                        <ul>
                            {% for skill in contributor.skills %}
                            <li>{{ skill.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if recommendations %}
                    <div class="block recommendations">
                        <h3>Recommandé par</h3>
                        <ul>
                            {% for recommendation in recommendations %}
                            <li>{{ recommendation.parentContributor.firstname|raw }} {{ recommendation.parentContributor.lastname|raw }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if contributor.parentContributor %}
                    <div class="block parent">
                         Ajouté par {{ contributor.parentContributor.firstname|raw }} {{ contributor.parentContributor.lastname|raw }}
                     </div>
                    {% endif %}
                </div>
            </div>

            <aside>
                {% if contributor._thumbnail %}
                <div class="thumbnail">
                    <img src="/uploads/{{ contributor._thumbnail }}" class="contributor_thumbnail" />
                </div>
                {% endif %}
            </aside>
        </div>
    </main>
</section>

{% endblock %}
