{% extends "app/tpl/layout.html.twig" %}
{% trans_default_domain 'app' %}
    
{% block body %}
<header class="page_header">
    <h2 class="page_name">
        <a href="{{ path('app_page', {'slug': page.slug, 'locale':app.session.get('locale') }) }}">{{ page.name|raw }}</a>
    </h2>
</header>
    
<section id="contributor" class="view">
    
    <header class="view_header">
        <h3 class="view_name">{{ contributor.firstname|raw }} {{ contributor.lastname|raw }}</h3>
        {% if contributor.contributorType %}<h4 class="view_subtitle">{{ contributor.contributorType.name }}</h4>{% endif %}
        {% include 'app/tpl/directory/infos.html.twig' %}
        {% include 'app/tpl/directory/buttons.html.twig' %}
    </header>
    
    <div class="view_content">
        <main>
            {% if contributor.shortDescription %}
            <div class="view_block">
                <h3 class="view_block_name">En une phrase</h3>
                <div class="view_text">{{ contributor.shortDescription }}</div>
            </div>
            {% endif %}
            
            {% if contributor.description %}
            <div class="view_block">
                <h3 class="view_block_name">Description</h3>
                <div class="view_text">{{ contributor.description }}</div>
            </div>
            {% endif %}
            
            {% if contributor.isContactable %}
            <div class="view_block">
                <h3 class="view_block_name">Peut être contacté</h3>
                <div class="view_text">
                    {% for contact in contributor.isContactable %}
                    {% if contact == 'email' %}
                    <span class="email">Par email : <a href="mailto:{{ contributor.email }}">{{ contributor.email }}</a></span><br/>
                    {% endif %}
                    {% if contact == 'phone' %}
                    <span class="phone">Par téléphone : <a href="tel:{{ contributor.phone }}">{{ contributor.phone }}</a></span><br/>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </main>
        
        <aside>
            {% if contributor._thumbnail %}
            <div class="thumbnail">
                <img src="/uploads/{{ contributor._thumbnail }}" class="contributor_thumbnail" />
            </div>
            {% endif %}
        </aside>
    </div>

</section>

{% endblock %}
