{% set path = app.session.get('path') %}
{% trans_default_domain 'app' %}
{% set ui = app.session.get('ui_config') %}
{% set theme_path = app.session.get('theme_path') %}
{% set js_path = app.session.get('js_path') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<meta name="robots" content="index, follow, all" />
    	<meta name="author" content="{% if app.session.get('params').meta_author is defined %}{{ app.session.get('params').meta_author }}{% endif %}" />
    	<meta name="description" content="{% if app.session.get('params').meta_description is defined %}{{ app.session.get('params').meta_description }}{% endif %}" />
    	<link rel="shortcut icon" href="/favicon.ico" />
        <title>{{ page.name|raw }} - {% block title %}{{ app.session.get('params').site_name }}{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ js_path.getUrl('slick-carousel/slick/slick.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ js_path.getUrl('malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ js_path.getUrl('daterangepicker/daterangepicker.css') }}" />
        
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/fonts.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/global.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/layout.css') }}" />

        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/cpnt.slider.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/cpnt.medias.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/cpnt.map.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/cpnt.popup.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/cpnt.filters.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/cpnt.networks.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/cpnt.answers.css') }}" />
        
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/common.blocks.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/common.view.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/common.items.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/common.form.css') }}" />

        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/section.resources.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/section.contributions.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/section.events.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ theme_path.getUrl('css/section.directory.css') }}" />
        {% endblock %}
        
    	<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, width=device-width" />
    </head>
    <body class="controller_{{ page.controller }} action_{{ app.session.get('current_action') }} page_{{ page.slug }}{% if page.class %} page_{{ page.class }}{% endif %}" data-locale="{{ app.session.get('locale') }}" data-slug="{{ page.slug }}">
        {% for message in app.flashes('error') %}
        <div class="cpnt_message error">{{ message|trans }}</div>
        {% endfor %}
        {% for message in app.flashes('success') %}
        <div class="cpnt_message success">{{ message|trans }}</div>
        {% endfor %}
        
        <div id="container">

    		<header id="header" class="header">
                <h1 id="logo" class="logo"><a href="/">{{ app.session.get('params').site_name }}</a></h1>
                <div id="menu_button"></div>
    		</header>
		    
			<nav id="menu">
                <div id="header_mask" class="header">
                    <h1 id="logo_mask" class="logo">{{ app.session.get('params').site_name }}</h1>
                </div>
				<ul>
					{% for menu_page in app.session.get('menu') %}
					<li>
                        <a href="{{ path('app_page', {'slug': menu_page.slug, 'locale': app.session.get('locale') }) }}"{% if menu_page.id == page.id %} class="active"{% endif %}>{{ menu_page.name }}</a>
                        {% if menu_page.helper_html is defined and menu_page.helper_html %}{{ menu_page.helper_html|raw }}{% endif %}
                        {% if menu_page.children is defined and menu_page.children %}
                            <ul class="children">
                                {% for child in menu_page.children %}
                                <li>
                                    <a href="{{ path('app_page', {'slug': child.slug, 'locale': app.session.get('locale') }) }}">
                                        {{ child.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
					{% endfor %}
                    
                    {% if app.session.get('locale') == 'fr' %}
                        <li>
                            <a href="{{ path('app_page', {'slug': page.slug, 'locale': 'en' }) }}">
                                English
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_page', {'slug': page.slug, 'locale': 'fr' }) }}">
                                Français
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if app.session.get('contributor') %}
                        <li>
                            <span id="authenticated">{{ app.session.get('contributor').email }}</span><br/>
                            <a href="{{ path('app_page_action', {'slug': app.session.get('authentication_page_slug'), 'locale': app.session.get('locale'), 'action': 'logout'}) }}">Déconnexion</a>
                        </li>
                    {% endif %}
				</ul>

                {% include 'app/tpl/components/networks.html.twig' %}
			</nav>
            
            <main id="main">
            {% block body %}{% endblock %}
            </main>
            
            <footer id="footer"></footer>

        </div>
            
        {% block javascripts %}
        <script type="text/javascript" src="{{ js_path.getUrl('jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('slick-carousel/slick/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('daterangepicker/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('daterangepicker/daterangepicker.js') }}"></script>

        <script type="text/javascript" src="{{ theme_path.getUrl('js/jquery.cookies.js') }}"></script>
        <script type="text/javascript" src="{{ theme_path.getUrl('js/jquery.salvatore.js') }}"></script>
        <script type="text/javascript" src="{{ theme_path.getUrl('js/infinite_scroll.js') }}"></script>
        <script type="text/javascript" src="{{ theme_path.getUrl('js/jquery.autocomplete.js') }}"></script>
        <script type="text/javascript" src="{{ theme_path.getUrl('js/app.js') }}"></script>
        <script type="text/javascript" src="{{ theme_path.getUrl('js/form.js') }}"></script>
        <script type="text/javascript" src="{{ theme_path.getUrl('js/paged.polyfill.js') }}"></script>
        {% endblock %}
    </body>
</html>