<article class="block block_{{ block.template }} {{ block.style }} {{ block.class }}">
    
    <div class="wrapper">

        <main>
            <header>
                <h2 class="block_name">{{ block.name|raw }}</h2>
            </header>
            {% if block.text %}<div class="text">{{ block.text|raw }}</div>{% endif %}
        </main>
        
        <aside>
            {% if block.medias %}
            <ul class="medias slider">
            {% for media in block.medias %}
                {% include 'app/tpl/components/itemmedia.html.twig' %}
            {% endfor %}
            </ul>
            {% endif %}
        </aside>

    </div>
    
</article>