{% trans_default_domain 'app' %}

<div class="contribution_buttons infos">
    
    {% if contribution.is_selected is defined and contribution.is_selected is same as(true) %}
    <a href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'removefromselection'}) }}?{{ filters.url }}&amp;id={{ contribution.id }}" class="button add_to_selection">Retirer</a>
    {% elseif contribution.is_selected is same as(false) %}
    <a href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'addtoselection'}) }}?{{ filters.url }}&amp;id={{ contribution.id }}" class="button add_to_selection">Sélectionner</a>
    {% endif %}
    | 
    
    {% if contribution.is_liked == false %}
    <a class="button" href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'like'}) }}?id={{ contribution.id }}">Aimer</a>
    {% else %}
    <a class="button" href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'unlike'}) }}?id={{ contribution.id }}">Ne plus aimer</a>
    {% endif %}
    | 
    
    <a class="button" href="mailto:{{ app.session.get('params').contact_email_address }}?subject=Contenu indiqué comme suspect&amp;body={{ path('app_page_action_id_key', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action':'view', 'id':contribution.id, 'key': contribution.name|slugger}) }}">Signaler</a>
    
    {% if contribution.contributor.id == app.session.get('contributor').id and contribution.contributionStatus.slug == 'pending' %} | <a href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'form'}) }}?id={{ contribution.id }}" class="button">Modifier</a>{% endif %}
</div>