{% trans_default_domain 'app' %}
<div class="contribution_infos infos">
    Le {{ contribution.created|date("m/d/Y") }}
    {% if contribution.contributor %} | <span class="contribution_contributor">Par {{ contribution.contributor.firstname }} {{ contribution.contributor.lastname }}</span>{% endif %}
    {% if contribution.contributionType %} | {{ contribution.contributionType.name }} {% endif %}
    {% if contribution.contributionStatus %} | <span class="item_status">{{ contribution.contributionStatus.name }}</span>{% endif %}
    {% if contribution.contributionObject %} | <span class="item_object">{{ contribution.contributionObject.name }}</span>{% endif %}
    {% if contribution.topics %}<span class="contribution_topics"> | {% for topic in contribution.topics %}<a href="{{ path('app_page', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug') })}}?tp[]={{ topic.id }}" class="contribution_topic button">#{{ topic.name }}</a> {% endfor %}</span>{% endif %}
    {% if contribution.keywords %}<span class="contribution_keywords"> | {% for keyword in contribution.keywords %}<a href="{{ path('app_page', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug') })}}?k[]={{ keyword.id }}" class="contribution_keyword button">#{{ keyword.name }}</a> {% endfor %}</span>{% endif %}
    {% if contribution.count_likes %} | <span class="contribution_num_likes">{{ contribution.count_likes }} <span class="item_num_likes_label"> mention(s) j'aime</span></span>{% endif %}
    {% if contribution.count_answers %} | <span class="contribution_num_answers">{{ contribution.count_answers }}</span> <span class="item_num_answers_label"> réponse(s)</span>{% endif %}
    </span>
</div>