{% trans_default_domain 'app' %}
{% if contribution is not defined and item is defined %}{% set contribution = item %}{% endif %}
{% if url is not defined %}
    {% set url = path('app_page_action_id_key', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action':'view', 'id':item.id, 'key': contribution.name|slugger}) %}
{% endif %}

<article class="item contribution{% if contribution._thumbnail is defined and contribution._thumbnail %} has_thumbnail{% endif %}">
    <div class="wrapper">
        
        <header class="item_header">
            <h2 class="item_name">
                <a href="{{ url }}{% if filters is defined %}?{{ filters.url }}{% endif %}" class="" data-url="{{ url }}{% if filters is defined %}?{{ filters.url }}{% endif %}">
                    {{ contribution.name|raw }}
                </a>
            </h2>
        </header>
        
        <div class="item_content">
            {% if contribution._thumbnail is defined and contribution._thumbnail %}
            <div class="item_thumbnail">
                <div class="wrapper">
                    <a href="{{ url }}{% if filters is defined %}?{{ filters.url }}{% endif %}" class="" data-url="{{ url }}{% if filters is defined %}?{{ filters.url }}{% endif %}">
                    {% if contribution._thumbnail %}<img src="/uploads/{{ contribution._thumbnail }}" class="{% if contribution._thumbnail_class is defined %}{{ contribution._thumbnail_class }}{% endif %}" />{% endif %}
                    </a>
                </div>
            </div>
            {% endif %}
            
            <div class="item_details">
                <div class="item_description">
                    {{ contribution.description|length > 140 ? (contribution.description|striptags|slice(0, 140) ~ '...')|raw  : contribution.description|raw  }}
                </div>
            
                {% include 'app/tpl/contributions/infos.html.twig' %}
                {% include 'app/tpl/contributions/buttons.html.twig' %}
            </div>
        </div>
    </div>
</article>
