{% extends "app/tpl/layout.html.twig" %}
{% trans_default_domain 'app' %}
    
{% block body %}
<section id="contribution" class="view">
    

    <div class="wrapper">
        <div class="content">
            <header class="page_header">
                <h2 class="page_name">
                    <a href="{{ path('app_page', {'locale': app.session.get('locale'), 'slug': page.slug }) }}">{{ page.name|raw }}</a>
                </h2>
                
                {% include "app/tpl/components/viewnav.html.twig" %}
                <h3 class="content_name">{{ contribution.name|raw }}</h3>
                {% include 'app/tpl/contributions/infos.html.twig' %}

                <div class="buttons">
                    {% if contribution.is_selected is defined and contribution.is_selected is same as(true) %}
                    <a href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'deletefromselection'}) }}?id={{ contribution.id }}" class="button add_to_selection">Retirer</a>
                    {% elseif contribution.is_selected is same as(false) %}
                    <a href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'addtoselection'}) }}?id={{ contribution.id }}" class="button add_to_selection">Sélectionner</a>
                    {% endif %}
                </div>
            </header>

            <div class="text">{{ contribution.description|raw }}</div>

            <div class="like">
                {% if contribution.count_likes %}<psan class="num_likes">{{ contribution.count_likes }}</psan>{% endif %}
                <a class="button" href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'like'}) }}?id={{ contribution.id }}">Je trouve ce partage utile</a>

                 <a class="button" href="mailto:{{ app.session.get('params').contact_email_address }}?subject=Contenu indiqué comme suspect&amp;body=http://www.reciprocity.eu/{{ path('app_page_action_id_key', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action':'view', 'id':contribution.id, 'key': contribution.name|slugger}) }}"> | Signaler le contenu</a>
            </div>
            
            {% if contribution.contributionStatus.slug == 'pending' %}
            <div class="anwser_form">
                {{ form_start(answer_form) }}
                
                <div class="form-group">
                {% for field in answer_form %}
                   {% include "admin/tpl/editor/form/field.html.twig" %}
                {% endfor %}
                </div>
                
                <button type="submit">Envoyer</button>
                {{ form_end(answer_form) }}
            </div>
            {% endif %}

            <div class="answers_container">
                {% if answers %}
                <div class="answers">
                    
                    <h3 class="title">Réponses</h3>
                    
                    <ul>
                    {% for answer in answers %}
                        <li class="answer{% if answer.isSelected %} selected{% endif %}">
                            <h4>Par {{ answer.contributor.firstname }} {{ answer.contributor.lastname }}</h4>
                            <div class="date">{{ answer.created|date("m/d/Y") }}</div>
                            <div class="description">{{ answer.description }}</div>

                            <div class="like">
                                {% if answer.count_likes %}<psan class="num_likes">{{ answer.count_likes }}</psan>{% endif %}
                    
                    <a class="button_alt" href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'likeanswer'}) }}?id={{ answer.id }}">Je trouve cette réponse utile</a>
                            {% if contribution.contributor == app.session.get('contributor') and  answer.isSelected == false %} <a href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': app.session.get('contributions_page_slug'), 'action': 'selectanswer' }) }}?id={{ answer.id }}" class="select_answer button_alt">Choisir cette réponse</a>{% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
