{% extends "app/tpl/layout.html.twig" %}

{% block body %}
<section id="resource_form">
    
    <header>
        <h2 class="page_name"><a href="{{ path('app_page', {'locale': app.session.get('locale'), 'slug': page.slug }) }}">{{ page.name|raw }}</a></h2>
    </header>
    
    <div class="wrapper">

	    <div class="content">
	    	{{ form_start(form, {'method': 'POST', 'multipart': true}) }}
    	   
	    	<h2 class="form_name">{% if form.vars.value.id %}{{ form.vars.value._name }}{% else %}Ajouter une ressource{% endif %}</h2>

            <div class="form_errors">
                {{ form_errors(form) }}
            </div>

            <div class="form_fields">
            {% for field in form %}
               {% include "admin/tpl/editor/form/field.html.twig" %}
            {% endfor %}
            </div>
            
            <button type="submit">{% if form.vars.value.id %}Sauvegarder{% else %}Sauvegarder{% endif %}</button>
            {{ form_end(form) }}
	    </div>

	    <aside></aside>
    </div>
</section>
{% endblock %}