<article class="block block_{{ block.type }} {{ block.class }}">
    
    <div class="wrapper">
        <div class="details">
            <h2 class="block_name">{{ block.name|raw }}</h2>
            {% if block.text %}<div class="text">{{ block.text|raw }}</div>{% endif %}
        </div>
        
        {% if block.medias %}
        <ul class="medias">
        {% for media in block.medias %}
            <li>
                <div class="wrapper">
                    <div class="thumbnail">
                        <div class="wrapper">
                            <img src="/uploads/{{ media.file }}" alt="{{ media.name }}"/>
                        </div>
                    </div>
                    <div class="details">
                        <div class="wrapper">
                            <h3 class="media_name">{{ media.name }}</h3>
                            {% if media.description %}<div class="description">{{ media.description|raw }}</div>{% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    
</article>