{% extends "app/tpl/layout.html.twig" %}

{% block body %}
<section id="events" class="index">
    
    <header class="page_header">
        <h2 class="page_name"><a href="{{ path('app_page', {'locale': app.session.get('locale'), 'slug': page.slug }) }}">{{ page.name|raw }}</a></h2>
        <a href="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': page.slug, 'action': 'form'}) }}" class="button">Ajouter un événement</a>
    </header>

    {% include "app/tpl/components/filters.html.twig" %}
    
    <div class="items grid events infiniteScroll" data-url="{{ path('app_page_action', {'locale':app.session.get('locale'), 'slug':page.slug, 'action': 'results' }) }}" data-total="{{ total }}" data-limit="{{ limit }}" data-offset="0">
    {% include "app/tpl/events/results.html.twig" %}
    </div>
</section>
{% endblock %}